@model MVC_Store.Models.ViewModels.Account.UserNavPartialVM

<li class="navbar-text " >
    <a class="" href="/account/user-profile" style="text-decoration:none;">
        &nbsp;&nbsp; @Model.FirstName &nbsp; @Model.LastName
    </a>
</li>