@model IEnumerable<MVC_Store.Models.ViewModels.Pages.PageVM>


@foreach (var item in Model) {
    <li class="nav-item">
        <a class="nav-link mr-3 " href="/@item.Slag">@item.Title</a>
    </li>
}


